.panel--main {
  
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $color-primary;
  background: #e0fbfc;
background: linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);
background: -webkit-linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);
background: -moz-linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);

  &.danger {
    background: $color-secondary-light;
  }
  &:hover {
    box-shadow: 2px 2px 5px $color-primary-light;
    transform: scale(1.05);
    transition: 0.5s;
  }
  .panel--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 0.9rem;
    }
    .panel--expenses {
      font-size: 1rem;
    }
    .panel--budget {
      font-size: 1.2rem;
      color: $color-gray;
    }
  }
  .panel--btns {
    display: flex;
    justify-content: center;
   .btn{
    width: 40%;
   }
  }

  @media only screen and (max-width: 460px){
   height: 18vh;
}
 
}
