.btn {
  min-height: 2rem;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  margin: 0.5rem;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;
  box-shadow: 1px 1px 2px $color-primary;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}
.inverted {
  background-color: $color-primary-light;
    color: $color-primary;
  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}
.muted {
  color: $color-gray;
  background-color: $color-white;
  border-color: $color-gray;
}
