nav {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 2rem;
  }
  h3 {
    font-size: 1.5em;
  }
  @media only screen and (max-width: 460px){
    height: 8vh;
  }
}
