.panelsWindow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: 710px){
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 460px){
    grid-template-columns: 1fr ;
  }
}
