.chartsPanel--container{
  width: 100%;
  height: min-content;
.chartsPanel--body {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-inline: auto;
  background: #e0fbfc;
background: linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);
background: -webkit-linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);
background: -moz-linear-gradient(180deg,#e0fbfc 0%, #98c1d9 40%, #75bce6 90%);
  .chartsPanel--totals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    
    text-align: center;
    h2{
      font-size: 1.2rem;
    }

    .chartsPanel--totals-budgets, .chartsPanel--totals-expenses {
      width:30vw;
      height: 40vh;
      
      
      
    }
  
     
      .chartsPanel--totals-add-inner{ 
        
      width: 20vw;
      height: 100%;
      
    
      .addPanel--container{
        
        height: 100%;
        display:flex;
      flex-direction: column;
      justify-content: space-between;
      h4{
        font-size: 1.2rem;
      }
      .addPanel--btns{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
      }
      }
    }
    
    
  }
  .chartsPanel--progressbar {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    margin-inline: auto;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
@media only screen and (max-width: 710px) {
  .chartsPanel--body{
    width: 90%;
    height: 40vh;
    .chartsPanel--totals {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 20vh 10vh;
      grid-auto-rows: 12rem;
      h2{
        font-size: 0.9rem;
      }
      .chartsPanel--totals-add-inner{ 
        
        grid-column: span 2;
        order:3;
        width:60vw;
        height: fit-content;
        .addPanel--container{
          flex-direction: row;
        justify-content: center;
        align-items: center;
        .addPanel--btns{
          flex-direction: row;
          justify-content: space-center;
        }
        }
      }
   
      .chartsPanel--totals-budgets, .chartsPanel--totals-expenses {
        width:40vw;
        min-width: 160px;
        height: 16vh;
       
        
      }
    }
  }
}
@media only screen and (max-width: 460px){
  .chartsPanel--container{
  
  .chartsPanel--body{
    width: 100%;

    .chartsPanel--totals {
      grid-template-columns: 1fr;
      
      
.chartsPanel--totals-budgets, .chartsPanel--totals-expenses{
  width:90vw;
  
}
.chartsPanel--totals-add-inner{

 grid-column: 1;
  
}
    }
  }
}
}}

