@import "./variables";
@import "./reset";
@import "../components/Button//button.scss";
@import "../components/MainBar/mainBar.scss";
@import "../components//Panel/panel.scss";
@import "../components/AddExpenseModal/AddExpenseModal.scss";
@import "../components/ViewExpensesModal/viewExpensesModal.scss";
@import "../components/PanelsWindow/panelsWindow.scss";
@import "../components/ChartsPanel/ChartsPanel.scss";
@import "../components/charts/expensesChart.scss";




  @media only screen and (max-width: 710px) {
  body {
    font-size: 9px;
  }
  .chartsPanel--totals {
    flex-direction: column;
    height: 50vh;
  }
  .btn {
    font-size: 0.7rem;
  }
}
